{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places&language=en">
    </script>
{% endblock %}

{% block content %}
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form method="post" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    <br/>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="notification error closeable">
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div id="add-listing" class="separated-form">
                        <!-- Section -->
                        <div class="add-listing-section">
                            <!-- Headline -->
                            <div class="add-listing-headline">
                                <h3>Basic Information</h3>
                            </div>
                            <!-- Title -->
                            <div class="row with-forms">
                                <div class="col-md-12">
                                    {{ form.name|as_crispy_field }}
                                </div>
                            </div>
                            <!-- Row -->
                            <div class="row with-forms">
                                <div class="col-md-12">
                                    {{ form.address|as_crispy_field }}
                                </div>
                            </div>
                            <!-- Row / End -->
                        </div>
                        <!-- Section -->
                        <div class="add-listing-section margin-top-45">
                            <!-- Headline -->
                            <div class="add-listing-headline">
                                <h3>Image</h3>
                            </div>
                            <div class="form">
                                {{ form.picture|as_crispy_field }}
                            </div>
                        </div>
                        <!-- Section / End -->

                        <!-- Section -->
                        <div class="add-listing-section margin-top-45">
                            <!-- Headline -->
                            <div class="add-listing-headline">
                                <h3>Details</h3>
                            </div>
                            <!-- Description -->
                            <div class="form">
                                {{ form.description|as_crispy_field }}
                            </div>
                            <!-- Row -->
                            <div class="row with-forms">
                                <!-- Phone -->
                                <div class="col-md-3">
                                    {{ form.phone|as_crispy_field }}
                                </div>
                                <!-- Fax -->
                                <div class="col-md-3">
                                    {{ form.fax|as_crispy_field }}
                                </div>
                                <!-- Website -->
                                <div class="col-md-3">
                                    {{ form.website|as_crispy_field }}
                                </div>
                                <!-- Email -->
                                <div class="col-md-3">
                                    {{ form.email|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <!-- Section / End -->

                        <!-- Section -->
                        <div class="add-listing-section margin-top-45">
                            <!-- Headline -->
                            <div class="add-listing-headline">
                                <h3>Open Hours</h3>
                            </div>

                            <!-- Day -->
                            <div class="row opening-day">
                                <div class="col-md-6">
                                    {{ form.open_from|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.open_to|as_crispy_field }}
                                </div>
                            </div>
                            <!-- Day / End -->
                        </div>
                    </div>
                    <button class="button preview" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
    <br/>
{% endblock %}

{% block js %}
    <script>
        var input = document.getElementById('id_address');
        var autocomplete = new google.maps.places.Autocomplete(input);
    </script>
{% endblock %}