{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHmd_dI3EZ7JwL6xSHYGJnsFMZe5zBYW4&libraries=places&language=en">
    </script>
{% endblock %}

{% block side_content %}
    <a href="{% url 'add_library' %}" class="button border with-icon">Add Library</a>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <header id="header-container"></header>
        <div id="header" class="not-sticky">
            <div class="container"></div>
        </div>
        <div class="clearfix"></div>
        <div class="single-listing-page-titlebar"></div>

        <!-- Content
        ================================================== -->
        <div class="container">
            <div class="row sticky-wrapper">
                <div class="col-lg-8 col-md-8 padding-right-30">

                    <!-- Titlebar -->
                    <div id="titlebar" class="listing-titlebar">
                        <div class="listing-titlebar-title">
                            <h2>{{ library.name }}</h2>
                            <span>
						<div id="listing-location" class="listing-address">
							{{ library.address }}
						</div>
					</span>
                        </div>
                    </div>

                    <!-- Overview -->
                    {% if library.description %}
                        <div id="listing-overview" class="listing-section">
                            <h3 class="listing-desc-headline margin-top-60 margin-bottom-30">Description</h3>
                            <p>{{ library.description }}</p>
                            <!-- Listing Contacts -->
                        </div>
                    {% endif %}

                    <!-- Slider -->
                    {% if library.picture %}
                        <div id="listing-gallery" class="listing-section">
                            <h3 class="listing-desc-headline margin-top-70">Gallery</h3>
                            <div class="listing-slider-small mfp-gallery-container margin-bottom-0">
                                <img src="{{ library.picture.url }}" alt="none">
                                {#                            <a href="images/single-listing-02a.jpg"#}
                                {#                               data-background-image="images/single-listing-02a.jpg" class="item mfp-gallery"#}
                                {#                               title="Title 2"></a>#}
                            </div>
                        </div>
                    {% endif %}


                    <!-- Location -->
                    <div id="listing-location" class="listing-section">
                        <h3 class="listing-desc-headline margin-top-60 margin-bottom-30">Location</h3>

                        <div id="singleListingMap-container">
                            <div id="singleListingMap"></div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar
                ================================================== -->
                <div class="col-lg-4 col-md-4 margin-top-45 sticky">
                    <!-- Contact -->
                    <div class="boxed-widget margin-top-35">
                        <div class="hosted-by-title">
                            <h4>Contact Library</h4>
                        </div>
                        <ul class="listing-details-sidebar">
                            {% if library.phone %}
                                <li>Phone: <b>{{ library.phone }}</b></li>{% endif %}
                            {% if library.fax %}
                                <li>Fax: <b>{{ library.fax }}</b></li>{% endif %}
                            {% if library.email %}
                                <li>Email: <b>{{ library.email }}</b></li>{% endif %}
                        </ul>
                    </div>

                    <!-- Share / Like -->
                    {% if library.website %}
                        <div class="listing-share margin-top-40 margin-bottom-40 no-border">
                            <a href="{{ library.website }}" target="_blank">
                                <button class="button">Open website!</button>
                            </a>

                            <!-- Share Buttons -->
                            <div class="clearfix"></div>
                        </div>

                        </div>
                    {% endif %}
                <!-- Sidebar / End -->
            </div>
        </div>


        <!-- Footer
        ================================================== -->
        <div id="footer" class="margin-top-15"></div>
    </div>
    <script type="text/javascript">

        function initMap() {
            let map;
            {#let lisbon = {lat: 38.727537, lng: -9.138920};#}
            map = new google.maps.Map(document.getElementById('singleListingMap'), {
                center: {lat: {{ library.latitude }}, lng: {{ library.longitude }}},
                zoom: 13
            });

            let marker;

            marker = new google.maps.Marker({
                position: new google.maps.LatLng({{ library.latitude }}, {{ library.longitude }}),
                map: map,
            });
        }

        initMap()
    </script>
{% endblock %}