{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHmd_dI3EZ7JwL6xSHYGJnsFMZe5zBYW4&libraries=places&language=en">
    </script>
{% endblock %}

{% block side_content %}
    <a href="{% url 'add_library' %}" class="button border with-icon">Add Library</a>
{% endblock %}

{% block content %}
    <div class="fs-container">
        <div class="fs-inner-container content">
            <div class="fs-content">
                <!-- Search -->
                <form method="get" class="form-row">
                    <section class="search">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Row With Forms -->
                                <div class="row with-forms">
                                    <!-- Main Search Input -->
                                    <div class="col-md-10">
                                        <div class="input">
                                            <input id="search-input" type="text" name="q"
                                                   placeholder="Search for libraries"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="button border with-icon">Search</button>
                                    </div>
                                </div>
                                <!-- Row With Forms / End -->
                            </div>
                        </div>
                    </section>
                </form>

                <!-- Search / End -->
                {% include 'includes/libraries.html' %}
            </div>
        </div>
        <div class="fs-inner-container map-fixed">

            <!-- Map -->
            <div id="map-container">
                <div id="map" class="map-size"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var input = document.getElementById('search-input');
        var autocomplete = new google.maps.places.Autocomplete(input);
    </script>
    <script type="text/javascript">

        function initMap() {
            let map;
            {#let lisbon = {lat: 38.727537, lng: -9.138920};#}
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 38.727527, lng: -9.138920},
                zoom: 11
            });
            {% if query %}
                map.setCenter(new google.maps.LatLng({lat: {{ query_latitude }}, lng: {{ query_longitude }}}));
                map.setZoom(11);
            {% else %}
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                        map.setCenter(initialLocation);
                        map.setZoom(14);
                    }, function (positionError) {
                        map.setCenter(new google.maps.LatLng(38.727537, -9.138920));
                        map.setZoom(14);
                    });
                }
            {% endif %}

            let locations = {{ json_data|safe }};
            let marker, i;

            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][0], locations[i][1]),
                    map: map,
                });
            }
        }

        initMap()
    </script>
{% endblock %}